{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no">
		<title>Exercícios</title>
	
		{% load static %}
<link rel="shortcut icon" href="{% static 'livapp/images/favicon.png' %}"/>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- Tema -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'livapp/style.css' %}">

<script src="{% static 'js/qlearning.js' %}"></script>

<script>

function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  //if
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));  
  window.location.href="{% url 'livapp:picturereforco' %}"
  
  //else
  //window.location.href="{% url 'livapp:picturedica2' %}"
}


</script>
	
	


    <script>

        function recebevalor(){
            //var text = document.getElementById('text-to-analyze').value;
			//alert("Funcao enviarvalor"); 
            //document.getElementById("myImage").src="/static/livapp/images/"+ localStorage.getItem('avatar');
			
			//document.getElementById("drag1").src="/static/livapp/images/"+ localStorage.getItem('tema')+"_2.png";
			document.getElementById("drag1").src="/static/livapp/images/"+ "peixe.png";
        }
		
		function uploadFoto2(){
			alert('abc');
		}
		
		
		
		
		function uploadFoto(){
		
			 
                // crie um FormData {Object}
                var data = {};
				data["file"] = document.getElementById("arquivo").value;
				data["tema"] = localStorage.getItem('tema');
				
				
				
				/*if(data["file"] == "data:,")
				{
					let abc = document.getElementById("screenshot-button");
					abc.click();
					abc = document.getElementById("botao_submit");
					abc.click();
					return;
				}*/
				
				data["pagina"] = document.getElementById("pagina").value;
		
			$.ajax({
                  type: "POST",
                  url: "{{ request.build_absolute_uri }}upload/",
				  
                  
                    enctype: 'multipart/form-data',
					data: data,
					
                    cache: false, // desabilitar o "cache"
                    
                  success: function(data){
                      console.log("success");
                      console.log(data);
					  localStorage.setItem('imagem',data);
					  return false;
					  
                  },
                  failure: function(data){
                      console.log("failure");
                      console.log(data);
					  return false;
                  },
              });
			
			return false; // avoid to execute the actual submit of the form.
		}
		
		
		// this is the id of the submit button
		
		/*
$("#botao_submit").click(function() {

    var url = "path/to/your/script.php"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: "{{ request.build_absolute_uri }}upload/",
           data: $("#fileUploadForm").serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert(data); // show response from the php script.
           }
         });

    return false; // avoid to execute the actual submit of the form.
});*/
		
		
		function startPage(){
		recebevalor();
		tirarFoto();
			if (localStorage.getItem('exe5n1') == "NaN" || localStorage.getItem('exe5n1') === null)
			localStorage.setItem('exe5n1','1');
			else{
			var tmp = parseInt(localStorage.getItem('exe5n1'));
			tmp = tmp+1;
			localStorage.setItem('exe5n1',tmp);
			}
	
		}

function tirarFoto(){

setTimeout(function(){
      
      let botao = document.getElementById("screenshot-button");
		botao.click();
       botao = document.getElementById("botao_submit");
  botao.click();
    }, 2000);
}


function enviadado(acerto,erro,distancia){ 		
			exercicio = "Exercicio5N1";
			var data = {};
			data ["exercicio"] = exercicio;
			data ["tempo"] = $("#time").text();
			data ["acerto"] = acerto;
			data ["erro"] = erro;
			data ["tentativa"] = parseInt(localStorage.getItem('exe5n1'));
			data ["latencia"] = $("#time2").text();
			data ["coordenadaX"] = coordenadaX;
			data ["coordenadaY"] = coordenadaY;
			data ["latencia2"] = '0';			
			data ["coordenadaX2"] = '0';
			data ["coordenadaY2"] = '0';
			data ["latencia3"] = '0';			
			data ["coordenadaX3"] = '0';
			data ["coordenadaY3"] = '0';
			data ["latencia4"] = '0';			
			data ["coordenadaX4"] = '0';
			data ["coordenadaY4"] = '0';
            nextPage(exercicio,data ["tempo"], acerto == "sim" ? true : false, "{{ request.build_absolute_uri }}qlearning", distancia);
			$.ajax({
                  type: "GET",
                  url: "{{ request.build_absolute_uri }}contador",
				  
                  data: data,
                  success: function(data){
                      console.log("success");
                      console.log(data);
                  },
                  failure: function(data){
                      console.log("failure");
                      console.log(data);
                  },
              });
			  
		  
}



//window.onload = startPage;
		
var startTime;
var startTime2;

var coordenadaX;
var coordenadaY;


function display() {
  var endTime = new Date();
  var timeDiff = endTime - startTime;
  timeDiff /= 1000;
  timeDiff = parseInt(timeDiff);
  
  
  $("#time").text(timeDiff);
  setTimeout(display, 1000);
}

function display2() {
  var endTime = new Date();
  var timeDiff = endTime - startTime2;
  timeDiff /= 1000;
  timeDiff = parseInt(timeDiff);
  
  $("#time2").text(timeDiff);
  setTimeout(display2, 1000);
}

startTime = new Date();
setTimeout(display, 1000);



function mostraValorAcerto(){
//alert("Meu tempo total é: " + $("#time").text() + "\n Botao acionado por: " + $("#time2").text() + "\n Coordenada X:" + coordenadaX + "\n Coordenada Y:" + coordenadaY);
enviadado("sim", "nao");
localStorage.removeItem('exe5n1')
location.href="{% url 'livapp:picturereforco' %}";
}

function mostraValorErro(distancia){
//alert("Meu tempo total é: " + $("#time").text() + "\n Botao acionado por: " + $("#time2").text() + "\n Coordenada X:" + coordenadaX + "\n Coordenada Y:" + coordenadaY);
enviadado("nao", "sim", distancia);
location.href="{% url 'livapp:picturedica' %}";
}		

		
</script>		

	
</head>




<body class="temas" onload="startPage()">

<audio autoplay="autoplay"  preload="auto" loop=true>
	<source src="{% static 'livapp/audios/exe5.wav' %}" type="audio/mpeg"/>
</audio>




<div id="screenshot" style="text-align:center;" hidden>
  <canvas id="canvas"></canvas>

  <video class="videostream" autoplay="" ></video>
  <img id="screenshot-img" >
   <p><button class="capture-button" >Capture video</button></p>
</div>

<div class="container">

		<br><br><br>
		

		<div class="row">
					
					
				
			

<div style="position: relative;">

		<div class="col-sm-4 col-sm-4 col-md-4">
		<img id="drag1" class="img-responsive" style="max-width:100%;height: auto;max-height: 100%;text-align:center;margin:auto;display:block; z-index: 2;">
		</div>
       
		<div class="col-sm-4 col-sm-4 col-md-4">
		<div href="{% url 'livapp:picturereforco' %}"  > <button id="screenshot-button" hidden >OK</button>
		<a ><img border="0" class="img-responsive" style="max-width:100%;height: auto;max-height: 100%;text-align:center;margin:auto;display:block; z-index: 1;" id="droppable" src="{% static 'livapp/images/gatofome.png' %}"></button></a>
		</div></div>
		</div>
		
	</div>
	
	<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script>
	
	   $('#droppable').droppable({
		drop:function(event,ui){
		
		    ui.helper.data('dropped', true); 
			
			setTimeout(function(){
      
				//window.location.href="{% url 'livapp:picturereforco5' %}";
				window.location.href="javascript:mostraValorAcerto()";
			}, 1000);
			
			
			}
		});
	
        $('#drag1').draggable({	
			start: function(event, ui) {
				ui.helper.data('dropped', false);
				startTime2 = new Date();
				setTimeout(display2, 1000);
			},
            stop: function( event, ui ) {
                coordenadaX = ui.position.top;
                coordenadaY =  ui.position.left;
				/*alert(document.querySelector('#droppable').getBoundingClientRect().top + ' ' +
				 document.querySelector('#droppable').getBoundingClientRect().bottom  + ' ' +
				 document.querySelector('#droppable').getBoundingClientRect().left  + ' ' +
				 document.querySelector('#droppable').getBoundingClientRect().right + ' ' +				 
				 document.querySelector('#drag1').getBoundingClientRect().top + ' ' +
				 document.querySelector('#drag1').getBoundingClientRect().bottom  + ' ' +
				 document.querySelector('#drag1').getBoundingClientRect().left  + ' ' +
				 document.querySelector('#drag1').getBoundingClientRect().right)*/
				 
				 var distancia_top = 0;
				 var distancia_bottom = 0;
				 var distancia_left = 0;
				 var distancia_right = 0;
				 
				 
				 
				 if(document.querySelector('#drag1').getBoundingClientRect().bottom
					< document.querySelector('#droppable').getBoundingClientRect().top){
					distancia_top = document.querySelector('#droppable').getBoundingClientRect().top - document.querySelector('#drag1').getBoundingClientRect().bottom;
					}
					
				if(document.querySelector('#drag1').getBoundingClientRect().top
					> document.querySelector('#droppable').getBoundingClientRect().bottom){
					distancia_bottom = document.querySelector('#drag1').getBoundingClientRect().top - document.querySelector('#droppable').getBoundingClientRect().bottom;
					}
					
				if(document.querySelector('#drag1').getBoundingClientRect().right
					< document.querySelector('#droppable').getBoundingClientRect().left){
					distancia_left = document.querySelector('#droppable').getBoundingClientRect().left - document.querySelector('#drag1').getBoundingClientRect().right;
					}
					
				if(document.querySelector('#drag1').getBoundingClientRect().left
					> document.querySelector('#droppable').getBoundingClientRect().right){
					distancia_right = document.querySelector('#drag1').getBoundingClientRect().left - document.querySelector('#droppable').getBoundingClientRect().right;
					}
				
				
					var distancia_total = distancia_top + distancia_bottom + distancia_left + distancia_right;
					
				
				if(distancia_total > 0){
					//window.location.href="{% url 'livapp:picturedica5' %}";
					//
					window.location.href="javascript:mostraValorErro("+distancia_total+")";
				}
				else{
					window.location.href="javascript:mostraValorAcerto()";
				}
                //alert('left:'+ui.position.left + ' top:'+ui.position.top)
            }    
        });
		
		
		
    </script>


</div>
</div>
<div hidden id="time"></div>
<div hidden id="time2"></div>
<script>

const constraints = {
  video: true,
};

const captureVideoButton = document.querySelector(
  "#screenshot .capture-button"
);
const screenshotButton = document.querySelector("#screenshot-button");


const img = document.querySelector("#screenshot img");


const video = document.querySelector("#screenshot video");


navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
  video.srcObject = stream;
});

const canvas = document.getElementById("canvas");

captureVideoButton.onclick = function () {
  navigator.mediaDevices
    .getUserMedia(constraints)
    .then(handleSuccess)
    .catch(handleError);
};

screenshotButton.onclick = video.onclick = function () {
//window.location.replace("{% url 'livapp:picture' %}");
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  canvas.getContext("2d").drawImage(video, 0, 0);

  // Other browsers will fall back to image/png
  img.src = canvas.toDataURL("image/webp");  
  
  
  
  document.getElementById("arquivo").value=canvas.toDataURL("image/jpeg",0.9);
  
  /*setTimeout(function(){
      let abc = document.getElementById("botao_submit");
  abc.click();
    }, 3000);*/
};


function handleSuccess(stream) {
  screenshotButton.disabled = false;
  video.srcObject = stream;
}

function handleError(error) {
  console.error("Error: ", error);
}








</script>

<h1>
      {{what}}
  </h1>
  <table>
    <tr>
      <td>
	  
	 
	  
        
          
		  <input type="hidden" name="file" id="arquivo"/>
          <br />
          <input type="hidden" name="pagina" id="pagina" value="exe5"/>
		  
		  <button id="botao_submit"  onclick= "return uploadFoto()" hidden>submit</button>
        
      </td>
    </tr>
  </table>
  
  <font size="-2"><div class="navbar navbar-fixed-bottom" style="position:fixed;bottom:0;height:auto;margin-top:50px;width:100%;text-align:center" size="-4" >Imagens gratuitas retiradas de www.imagensanimadas.com, www.pngwing.com, www.gratispng.com e www.gyphy.com</div>
</font>
</body>
</html>